/* Header Component */

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #3C3744;
  padding: 1rem 1.5rem;
  border-bottom: 2px solid black;
}

h1 {
  font-family: 'Courier New', Courier, monospace;
  font-size: 2rem;
  font-weight: bold;
  color: #3D52D5;
}
h1:hover {
  cursor: default;
}

.nav-menu {
  display: flex;
}

.nav-link {
  margin-left: 3rem;
  text-decoration: none;
  color:#FBFFF1;
  font-weight: bold;
  transition: 0.3s;
}
.nav-link:hover {
  color: #3D52D5;
}

/* Searchbar Component */

#searchbar {
  text-align: center;
}
#search {
  width: 25%;
  height: 1.5rem;
  margin: 1rem;
  border-radius: .5rem;
}
#search-btn {
  height: 1.5rem;
}


/* Products Component */

#products {
  padding: 1.5rem;
}

#products-list {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
}

.product {
  border: 1px solid black;
  width: 20%;
  text-align: center;
  margin-bottom: 1rem;
  min-width: 10rem;
  transition: 0.3s;
}
.product:hover {
  background-color: #B4C5E4;
  cursor: pointer;
}
h3 {
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.25rem;
  font-weight: bold;
  color: #3C3744;
  margin: 1rem;
}
p, i {
  color: #3C3744;
  margin: 1rem;
}
#products button {
  margin: 1rem;
}
.product img {
  width: 75%;
  padding: .5rem;
}

/* Account Component */

#account {
  text-align: center;
}

/* Login & Register Components */
#login, #register {
  text-align: center;
  background-color: #3C3744;
}
form {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin: 1rem auto;
  align-items: center;
  border: 1px solid black;
  background-color: #B4C5E4;
}
form input {
  margin: 1rem;
  width: 50%;
}
#error {
  color: red;
}

/* Cart Component */

#cart {
  text-align: center;
}

.cartItem {
  border: 1px solid black;
  width: 60%;
  margin: 1rem auto;
  padding: 1rem;
  display: flex;
  justify-content: space-around;
}
